@import '~antd/dist/antd.css';

@-webkit-keyframes flash {
  from, 50%, to {
      opacity: 1
  }

  25%, 75% {
      opacity: 0
  }
}

@keyframes flash {
  from, 50%, to {
      opacity: 1
  }

  25%, 75% {
      opacity: 0
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards
}

/* .ant-card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    border-color: rgba(0, 0, 0, 0.09);
} */

.ant-card-cover{
    overflow: hidden;
    margin: 5px 5px 0;
    border-radius: 25px;
}

.App>.list .ant-rate-star {
    margin-right: 2px;
}

.ant-card-cover{
    position: relative;
    padding: 4px;
}
.ant-card-cover img{
    border-radius: 20px;
}

.ant-card-cover:after{
    position:absolute;
    content:'';
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius: 25px;
    box-shadow:0 0px 10px 10px rgba(255,255,255,1) inset;
}

.comment .ant-card-cover:after, .detail .ant-card-cover:after {
    box-shadow:0 0px 10px 10px rgba(255,255,255,1) inset;
}

.list div,.list a,.list ul,.list li,.list i,.list svg,.list img{
    -webkit-touch-callout:none; 
    -webkit-user-select:none; 
    -moz-user-select:none;
    -ms-user-select:none; 
    user-select:none;
}

